.home-page-project {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

.home-page-project .project-left,
.home-page-project .project-right {
	width: 50%;
}

.left-oriented .project-left {
	padding-right: 2vw;
	position: relative;
	z-index: 3;
}

.left-oriented .project-right {
	height: 80%;
	z-index: 2;
	position: relative;
}

.left-oriented h1 {
	white-space: nowrap;
	margin-left: -5vw;
}

.left-oriented h2 {
	white-space: nowrap;
	margin-left: -5vw;
}

.right-oriented .project-left {
	height: 80%;
	z-index: 2;
	position: relative;
}

.right-oriented .project-right {
	padding-left: 2vw;
	position: relative;
	z-index: 3;
}

.right-oriented h2 {
	white-space: nowrap;
	margin-left: -10vw;
	text-align: right;
}

.home-page-project p {
	font-size: 2vw;
}

.home-page-project:hover .project-img,
.home-page-project:hover .project-img-overlay {
	transition: all 0.5s ease-in-out;
	transform: scale(1.1);
}

.project-img {
	height: 100%;
	width: 100%;
	background-size: cover;
	transition: all 0.5s ease-in-out;
}

.project-img-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease-in-out;
}

.bjs-project-cover {
	background-position-x: 85%;
	filter: grayscale(100%);
}

.culturelle-project-cover {
	background-position-x: 70%;
	filter: grayscale(100%);
}

.gold-bond-cys-project-cover {
	background-position-x: center;
	filter: grayscale(100%);
}

.two-off-center {
	transform: translatex(-200px);
}

.one-off-center {
	transform: translatex(200px);
}

.work-page-link-block {
	pointer-events: auto;
}

.explore {
	display: none;
}
