.project-page-header-image {
	background-image: url("./project-header.jpg");
	background-position: center;
	background-size: cover;
	filter: grayscale(100%);
}

h3 {
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

p.description {
	margin: 0 0 30px 0;
}

.content-grid img {
	width: 30%;
	margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
	.content-grid img {
		width: 45%;
	}
}
