.project-page-header-image {
	background-image: url("./project-header.jpg");
	background-position: 25%;
	background-size: cover;
	filter: grayscale(100%);
}

h3 {
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

p.description {
	margin: 0 0 50px 0;
}

.video-container video {
	margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
	.project-page-header-image {
		background-position: center;
		background-size: cover;
	}
	.video-container video {
		margin-bottom: 30px;
	}
}
